body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div#main-content {
  position: relative;
  top: 40px;
}

#map {
  position: relative;
  height: 400px;
  width: 100%;
}